p {
  margin: 0;
  font-family: regular;
}

.bordered {
  border: 1px dotted;
}

.flex-grow {
  flex-grow: 1;
}

.primary {
  color: #1d2123;
}
.bg-primary {
  background-color: #1d2123;
}

.white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.gray {
  color: rgba(255, 255, 255, 0.44);
}

.bg-gray {
  color: rgba(255, 255, 255, 0.44);
}

.dark {
  color: #1a1e1f;
}
.bg-dark {
  background-color: #1a1e1f;
}

.blue {
  color: #609eaf;
}
.bg-blue {
  background-color: #609eaf;
}

.regular {
  font-family: regular;
}

.bold {
  font-family: bold;
}

.light {
  font-family: light;
}

.topic {
  font-family: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #efeee0;
}

.smallest {
  font-family: bold;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
}
.smallest-alt {
  font-family: regular;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
}

.small {
  font-family: light;
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}

.small-alt {
  font-family: regular;
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}

.medium {
  font-family: regular;
  /* font-style: normal; */
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}
