.header {
  padding-right: 60px;
  padding-left: 20px;
  position: fixed;
  left: 0;
  right: 0;
}
.header-icon {
  padding: 24px;
}

.icon {
  padding-left: 40px;
  background: url("../assets/icons/search.svg") no-repeat left;
  background-size: 20px;
}

.input {
  background-color: transparent;
  border: none;
}

.burger {
  width: 20px;
  height: 3px;
  border-radius: 10px;
  background-color: white;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

@media screen and (max-width: 768px) {
  .header {
    padding-right: 20px;
    padding-left: 20px;
    position: fixed;
    left: 0;
    right: 0;
  }
}
