.rounded {
  border-radius: 32px;
}

.content {
  padding: 110px 60px 24px 0px;
}

.release {
  padding-top: 20px;
  padding-left: 101px;
  padding-right: 60px;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 70px 20px 20px 20px;
  }

  .release {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
